* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    background-color: #f9f9f9;
}
.card{
    background-color:#fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 10px;
}


header {
    background-color: black ;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="number"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(86, 86, 212);
    border-radius: 5px;
    background-color:  rgb(11, 107, 167);
}

button {
    background-color:rgb(73, 73, 198)violet;
    color: white ;
    cursor: pointer;
}

button:hover {
    background-color:white ;
}

footer {
    background-color:beige;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 10%;
    bottom: 0;
}
.element {
    background-color: #00ff00; /* Green */
}
/* Reset default margin and padding */
*{
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
}

header {
    background-color:  black;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color:black;
    text-decoration: none;
}

nav ul li a:hover {
    color: black;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    background-color:black;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
